/** @format */
.formControl {
    /* width: 30%; */
    margin-bottom: 30px !important;
}
.formControl div {
    background-color: rgba(250, 250, 250, 0.4);
}
svg {
    /* transform: rotate(0) !important; */
}
