/** @format */

.container {
    display: flex;
    justify-content: center;
    width: 85%;
}
@media (max-width: 959px) {
    .container {
        width: 100%;
    }
}

.container div{
    background-color: rgba(250, 250, 250, 0.7);

}