/** @format */

.container {
    margin: 0px 0px 50px 0px;
}
.MuiCard-root {
    background-color: rgba(36, 36, 36, 0.8) !important;
    font-size: 100px;
}
.card:hover {
    transform: scale(1.1);
}
.card {
    background: rgba(250, 250, 250, 0.7) !important;
    margin: 0 2% !important;
    overflow: hidden !important;
    transition: transform 0.2 ease;
}

.infected {
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}
.recoverd {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}
.deaths {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}
@media (max-width: 959px) {
    .card {
        margin: 2% 0 !important;
    }
}
