.container {
  margin: 0px 2px 50px 2px;
}
.MuiCard-root {
  background-color: rgba(36, 36, 36, 0.8) !important;
  font-size: 100px;
}

.card {
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.253), -12px -12px 24px 0 rgba(255, 255, 255, 0.719);
  margin: 0 2% !important;
  overflow: hidden !important;
  border-radius: 10px;
}


@media (max-width: 959px) {
  .card {
    margin: 2% 0 !important;
  }
}
