/** @format */

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 5%;

    background-color: rgba(250, 250, 250, 0.4);
}

/* .about {
    grid-column: 1 / 4;
    text-align: justify !important;
} */
.app {
    text-align: center;
    width: 100vw;
}
.app p {
    margin: 5px;
}
.social_link a {
    margin: 0 5px 0 5px;
}
