/** @format */
:root {
    --main-dark-bgcolor: rgb(0, 0, 0);
    --main-dark-card-bgcolor: rgb(36, 36, 36);
}
body {
    background-color: rgb(250, 250, 250);

    /* background-color: rgb(39, 39, 39); light dark */
    /* background-color: var(--main-dark-bgcolor); */
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image {
    width: 370px;
    margin: 50px 0;
}
@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }
    .image {
        width: 100%;
    }
}
